#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.album-cover {
  width: 150px;
  height: auto;
}

.album-details {
  font-size: 20px;
  margin-bottom: 5px;
  margin-right: 20px;
}

.album-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 20px;
}

.search-bar-container {
  position: fixed;
  top: 20px;
  right: 70px;
  padding: 10px;
  z-index: 5;
}

.search-button {
  width: 76px;
  height: 42px;
  font-size: 10px;
  background-color: #f550a2;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  
}

.image-container {
  flex: 1;
  max-width: 48%;
}

.image-container img {
  width: 100%;
  height: auto;
}

.form-container {
 
  width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="submit"] {
  width: 100%; 
  height: 50px; 
  margin-bottom: 20px; /* Add space between inputs */
  padding: 0 10px; /* Add padding */
  font-size: 16px; /* Adjust font size */
}

.form-container div {
  margin-bottom: 50px;
}

.form-container label {
  display: inline-block;
  width: 200px;
  /* Increase the width to accommodate longer labels */
  margin-right: 10px;
  /* Add some space between the label and the input field */
  font-size: 18px;
}

.form-container input[type="submit"] {
  padding: 10px 0px;
  /* Increase the size of the button */
  background-color: #da80b0;
  /* Change the background color */
  border: none;
  /* Remove the default border */
  color: #1c1a22;
  /* Change the text color to white */
  font-size: 22px;
  /* Increase the font size */
  cursor: pointer;
  /* Change the cursor to a hand when hovering over the button */
}

.feed-container {
  /* position: absolute;
  left: 0;
  top: 0; */
  /* width: 18%;  */
  /* adjust this to change the width of the feed */
  /* height: 90vh; */
  /* make the feed take up the full height of the viewport */
  background-color: #fff;
}

.reviews-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.review-cover-art {
  width: 160px;
  /* adjust as needed */
  height: auto;
  /* adjust as needed */
}

.banner {
  background-image: url(tapes.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  top: -6px;
  z-index: 0;
}

